@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{    
    font-family: 'GmarketSansMedium';
    margin: 0;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    background-size: cover;
}
.container{
    background: #fff;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;

}
.inputArea{
    text-align: center;
}
.taskArea{
    margin: 20px 0;
}
.taskTab {
    width: 100%;
    display: flex;
    border: 1px solid #9890e3;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    padding: 0 30px;
}
.taskTab div{
    width: 100px;       
    text-align: center;
    padding: 1rem;
}
#underLine{
    height: 4px;
    background: #9890e3;
    position: absolute;
    width: 100px;
    left: 30px;
    top: 0;
    padding: 0;
}
.taskBoard{    
    background: #eee; 
    margin: 20px 0;
    border-radius: 30px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px dotted #9890e3;
    align-items: center;
}